@import "../styles/variables.scss";
@import url("~react-loading-skeleton/dist/skeleton.css");

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  src: url("../../../../public/fonts/SFProDisplay-Regular.woff2")
      format("woff2"),
    url("../../../../public/fonts/SFProDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  src: url("../../../../public/fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("../../../../public/fonts/SFProDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 800;
  src: url("../../../../public/fonts/SFProDisplay-Heavy.woff2") format("woff2"),
    url("../../../../public/fonts/SFProDisplay-Heavy.woff") format("woff");
}

*,
*:after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button,
input {
  font-family: "SF Pro Display", sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
}

button {
  cursor: pointer;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $grey;
  padding: 0;
  margin: 0;
  min-width: 350px;
  position: relative;
  background-image: linear-gradient(180deg, #ffffea 10%, #fedd00 117.73%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// FANCYBOX
.fancybox__backdrop {
  background: rgba(243, 243, 243, 0.068) !important;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  opacity: 0.8;
}
.f-button {
  svg {
    stroke: $yellow !important;
    width: 40px !important;
    height: 40px !important;
    opacity: 0.7;
  }
}

.is-close-btn {
  top: -38px !important;
  svg {
    opacity: 1 !important;
  }
}

.is-compact .fancybox__content > .f-button.is-close-btn {
  background-color: transparent;
}

.fancybox-image {
  border-radius: 11px;
}

.fancybox__content {
  border-radius: 100% !important;
}

.f-button.is-next {
  right: -3px !important;
}

.f-button.is-prev {
  left: -3px !important;
}

.ReactTags__tags {
  position: relative;
}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
  width: 100%;

  input.ReactTags__tagInputField {
    width: 77%;
    height: 37px;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #eee;
    min-width: 180px;

    &:focus {
      height: 32px;
      margin: 0;
      padding: 5px;
      font-size: 14px;
      border: 1px solid #eee;
      min-width: 180px;
    }
  }
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

.ReactTags__selected {
  display: flex;

  max-width: 100%;
  flex-wrap: wrap;

  span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #63bcfd;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
  }

  .ReactTags__remove {
    color: #aaa;
    cursor: pointer;
    display: flex;
  }
}

.ReactTags__suggestions {
  position: absolute;

  ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 200px;
    padding: 5px 0;
  }

  li {
    padding: 5px 10px;
    margin: 0;
    text-align: left;

    mark {
      text-decoration: underline;
      background: none;
    }

    &.ReactTags__activeSuggestion {
      background: #4dabf7;
      color: #fff;
      cursor: pointer;

      span mark {
        color: #fff;
      }
    }
  }
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: #fff;
  padding: 5px;
}

.ReactTags__error {
  color: #e03131;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    padding: 0 5px;
  }
}
