.champs {
  &__btn {
    border: 0;
    background-color: transparent;
    border: 2px solid #fd94bc59;
    border-radius: 6px;
    transition: 0.2s;
    width: 278px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &:disabled {
      opacity: 0.5;
      background-color: rgba(80, 80, 80, 0.37) !important;
      cursor: not-allowed;
    }

    img {
      object-fit: contain;
    }

    &_active {
      border: 2px solid #ff006b;
    }

    &:hover:not(:disabled) {
      border: 2px solid #ff006b;
      transform: scale(1.03);
    }

    &:active:not(:disabled) {
      transform: scale(0.96);
    }
  }
  &__item {
    width: 290px;
  }

  &__not_member {
    text-align: center;
    top: -10px;
    font-size: 15px;
  }
}
