.user_avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #ffd500;
  position: relative;

  &_box {
    width: 150px;
  }

  &_edit {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 100%;
    display: flex;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0px 10px 20px #e0dcadc4;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0px 10px 20px #e0e0ad;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
    }
    &::after {
      content: "";
      background-image: url(../../../../../public/images/pen.svg);
      width: 18px;
      height: 18px;
      position: absolute;
      bottom: 2px;
      right: 13px;
    }
  }
}
