.result {
  &__box {
    overflow: auto;
    width: 100%;
  }
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow: auto;
    margin-top: 20px;
    padding-bottom: 25vh;

    &::-webkit-scrollbar {
      display: block;
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: #ff3e9ba6;
      box-shadow: 0px 2px 5px 0px rgba(255, 0, 138, 0.5);
    }

    &::-webkit-scrollbar-track-piece:end {
      background: #d0d0d08a;
      margin-bottom: 50px;
      border: 0.2px solid #00000010;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track-piece:start {
      background: #d0d0d08a;
      margin-top: 50px;
      border: 0.2px solid #00000010;
      border-radius: 3px;
    }
  }

  &__item {
    display: flex;
    gap: 130px;
    align-items: center;
    border-bottom: 1px solid #95959580;
    padding-bottom: 10px;
    margin: 0 auto;
    position: relative;
  }

  &__score {
    display: flex;
    align-items: center;
    border: 0.5px solid rgba(102, 102, 102, 0.4);
    background: rgba(243, 243, 243, 0.5);
    border-radius: 5px;

    div {
      position: relative;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #494949;
      font-size: 24px;
      font-weight: 500;
      width: 40px;
      height: 30px;
      border-radius: 5px;
      position: relative;

      &::after {
        content: '';
        background-color: rgba(149, 149, 149, 0.16);
        width: 1px;
        height: 20px;
        z-index: 1;
        position: absolute;
        right: -1px;
      }
    }
  }

  &__staff {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translate(50%);
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    white-space: nowrap;
    font-weight: 400;
    color: #282828;
  }

  &__criteria {
    font-weight: 400;
    color: #282828;
    width: 60px;
  }

  &__comment {
    position: absolute;
    left: 0px;
    top: 50px;
    font-weight: 700;
    font-size: 16px;
    color: #494949;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 10px;
    }
  }
}

.member__nomination {
  margin: 20px;
  font-weight: 500;
  text-align: center;
  color: #959595;
}
