@import "common/shared/styles/variables.scss";

.UserBack {
  height: 100%;
  background: linear-gradient(155deg, #ffffea 48.82%, #ffe055 111.42%);
}

.profile {
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__inputs {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__button {
    margin-top: 30px;
    transition: 0.3s !important;
    &:disabled {
      transform: scale(0.7);
      opacity: 0;
      cursor: auto;
    }
  }
  &__validation {
    text-align: center;
    color: $error;
    opacity: 0;
    transition: 0.3s;
    font-size: 17px;
    transform: scale(0.9);

    &_error {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__button_exit {
    background-color: rgb(231, 216, 0);
    margin-top: 60px;
  }
}
