@import '../../../../shared/styles/variables.scss';
.evaluation {
  &__title {
    font-weight: 700;
    font-size: 24px;
    color: $black;
    margin-bottom: 20px;
    margin-top: 12px;
  }

  &__category {
    color: $black;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0 20px;
  }

  &__total {
    font-weight: 700;
    font-size: 16px;
    color: #494949;

    span {
      font-size: 20px;
    }
  }

  &__modal_btn {
    border-radius: 5px !important;
    opacity: 0.8;
    margin-top: 8px;

    &:hover {
      opacity: 1;
    }
  }
}
