@import "../../../../../common/shared/styles/variables.scss";

.members {
  &__item {
    border-top: 1px solid #d0d0d0;
    padding: 4.5px 2px;
    max-width: 420px;
    width: 100%;

    &_skeleton {
      border-radius: 10px;
      margin-bottom: 5px;
      width: 100vw;
    }
  }
  &__content {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    width: 100%;
    padding: 3px 18px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: all 0.1s;
    outline: 2px solid transparent;

    &:hover {
      transition: all 0.1s;
      background: rgba(255, 255, 255, 0.604);
      outline-color: lighten($yellow, 10%);
      outline-offset: -2px;
    }

    &:active {
      transform: scale(0.95);
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
    }

    &_other {
      background: rgba(219, 173, 255, 0.74) !important;

      &:hover {
        transition: all 0.1s;
        background: rgba(219, 173, 255, 0.466) !important;
        outline-color: #b24eff;
        outline-offset: -2px;
      }
    }

    &_done {
      background: rgba(189, 255, 173, 0.74);
    }
  }
  &__number {
    color: #ff3e9b;
    font-size: 24px;
    font-weight: 500;
  }
  &__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }
  &__nomination {
    color: #959595;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  &__points {
    color: #494949;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
  }
  &__avatar {
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
