.members {
  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-right: 10px;
    position: relative;
    min-height: 150px;
    left: 10px;
    margin-bottom: 15px;
    max-height: 450px;
    li {
      width: 100%;
    }

    &::-webkit-scrollbar {
      display: block;
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: #ff3e9ba6;
      box-shadow: 0px 2px 5px 0px rgba(255, 0, 138, 0.5);
    }

    &::-webkit-scrollbar-track-piece:end {
      background: #d0d0d08a;
      margin-bottom: 50px;
      border: 0.2px solid #00000010;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track-piece:start {
      background: #d0d0d08a;
      margin-top: 50px;
      border: 0.2px solid #00000010;
      border-radius: 3px;
    }

    &_staff {
      max-height: 460px;
    }
  }

  &__title {
    font-weight: 700;
  }
}
